<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat-app</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div class="head-bar">
        <h4 style=" color:  #88a9c4ff; font-family: 'Courier New', Courier, monospace;" id="logged-username">:</h4>
        <h4 style=" color:  #88a9c4ff; font-family: 'Courier New', Courier, monospace;">Chat App</h4>
        <h4 style=" color:  #88a9c4ff; font-family: 'Courier New', Courier, monospace;"><a href="/login" style="text-decoration: none;">Log out</a></h4>
    </div>
    <div class="container">
        <div class="groups">
            <div class="groups-title">Groups
                <hr>
            </div>
            <div class="group-names">
                <ul id="group-list">
                    <li><a href="" onclick="createGroup(event)">Create New Group</a></li>
                    <li><a href="">Add Member</a></li>
                    <li><a href="">Remove Member</a></li>
                </ul>
                <hr>
                <h4 style=" text-align: center; color:  #88a9c4ff; font-family: 'Courier New', Courier, monospace;">Your Groups</h4>
                <ul id="your-groups-ul">

                </ul>
            </div>
        </div>
        <div class="users">
            <div class="users-title">Users
                <hr>
            </div>
            <div class="group-names">
                <ul id="group-list">
                    <li><a href="">Vaishnavi</a></li>
                    <li><a href="">Himesh</a></li>
                    <li><a href="">Rohan</a></li>
                </ul>
            </div>
        </div>
        <div class="chatBox">
            <div class="chatBox-title">Group
                <hr>
            </div>
            <div class="message-box">
                <li id="message-box-li">

                </li>
            </div>
            <div class="text-input">
                <input type="text" placeholder="Enter Message" id="text-box">
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="/js/chatPage.js"></script>
    
</body>

</html>