<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | CodingLab</title>
  <link rel="stylesheet" href="/css/loginPage.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="title"><span>Log in</span></div>
      <form action="#">

        <div class="row">
          <i class="fas fa-user"></i>
          <input type="email" placeholder="Email" name="email" id="email" required>
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" name="password" id="password" required>
        </div>

        <div class="row button">
          <input type="submit" id="button" value="Log In">
        </div>
        <div class="signup-link">Not a member ? <a href="/signupPage">Sign up now</a></div>
      </form>
    </div>
    <div class="divv">
      <h1 id="h11"></h1>
    </div>
  </div>

  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      const object = {
        email: email,
        password: password
      }

      try {
        const response = await axios.post('http://localhost:3000/login', object);

        console.log(response.data.code);

        if (response.data.code === 200) {
          const text = document.getElementById('h11');
          text.innerHTML = `<p style="color:green;">Logged In Successful</p>`;
          console.log(response.data.token);
          localStorage.setItem('chatAppToken', response.data.token);
          window.location.href = '/home';
        } else if (response.data.code === 401) {
          const text = document.getElementById('h11');
          text.innerHTML = `<p style="color:red;">Error in logging in, Password Incorrect 401</p>`;


        } else if (response.data.code === 404) {
          const text = document.getElementById('h11');
          text.innerHTML = `<p style="color:red;">User not found, 404</p>`;
        }

      } catch (err) {
        console.log(err);
      }
    });


  </script>
</body>

</html>