<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/loginPage.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="title"><span>Log in</span></div>
      <form action="#">

        <div class="row">
          <i class="fas fa-user"></i>
          <input type="email" placeholder="Email" name="email" id="email" required>
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" name="password" id="password" required>
        </div>

        <div class="row button">
          <input type="submit" id="button" value="Log In">
        </div>
        <div class="signup-link">Not a member ? <a href="/signupPage">Sign up now</a></div>
      </form>
    </div>
    <div class="divv">
      <h1 id="h11"></h1>
    </div>
  </div>

  <script src="/js/loginPage.js"></script>
</body>

</html>